@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300..1000&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'poppins', sans-serif;
  min-height: 100vh;
  width: 100vw;
}

#feed::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

#comments::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

textarea {
  resize: none;
  font-family: 'poppins', sans-serif;
}

#postForm {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 15rem;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

#nav-sm {
  display: none;
}

#main-feed {
  display: flex;
  flex-direction: row;
  padding: 0;
}

@media screen and (max-width: 501px) {
  #sidebar {
    display: none;
  }

  #hamMenu {
    display: flex;
  }

  #nav-sm {
  display: flex;
}
  #main-feed {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

}